body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#mesas {
  margin-top: 20px;
}

.mesa {
  width: 60px;
  height: 60px;
  background-color: gray;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}